.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medal-form {
  display: flex;
  gap: 20px;
}

.medal-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medal-form input {
  width: 100px;
  margin-top: 10px;
}

.medal-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medal-items {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.medal-items span {
  width: 90px;
}

.sort-wrapper {
  margin-bottom: 20px;
}

.sort-wrapper label {
  padding: 10px;
}
